body {
  background-color: yellow;
}

h1 {
  color: blue;
  padding: 30px;
}

.input-form {
  width: 450px;
  text-align: center;
  margin: 10px;
}

.form-button {
  color: white;
  background-color: goldenrod;
  border: 1px solid goldenrod;
  border-radius: 20px;
  width: 200px;
}

.form-button:hover {
  color: green;
  background-color: white;
}

.job-list {
  margin: 30px;
}

.briefcase-icon {
  margin: 5px;
}

.job-title {
  color: gray;
  font-weight: bold;
  font-style: italic;
}

/* .job-tag {
  background-color: orange;
  border: 3px solid darkorange;
  padding: 5px 5px;
} */

.job-description-button {
  color: white;
  background-color: darkgray;
  border: 1px solid darkgray;
  border-radius: 10px;
  width: 300px;
  text-decoration: none;
  padding: 10px 5px;
  font-size: 14 px;
}
